<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60102118980-hdfv5gah6m5f3eb6mh47nidvnnlsvlkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60102118980-hdfv5gah6m5f3eb6mh47nidvnnlsvlkq</string>
	<key>API_KEY</key>
	<string>AIzaSyCgjU5YzIX3xx2BmvPKaK3QG1gp1hdSr40</string>
	<key>GCM_SENDER_ID</key>
	<string>60102118980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>flutter-application-2-25cbb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-application-2-25cbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60102118980:ios:46b62bd3d45c89e0bfb611</string>
</dict>
</plist>